#playerCard {
    border-radius: 2.5%;
    border: solid 1px rgba(0, 0, 0, 0.25)
}

#enemyCard {
    border-radius: 2.5%;
    border: solid 1px rgba(0, 0, 0, 0.25)
}

progress {
    height: 25px;
    width: auto;
    margin-bottom: 10%;
}

progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2.5%;
}

#enemyCard progress::-webkit-progress-bar {
    background-color: gray;
    border-radius: 2.5px;
}

#enemyCard progress::-webkit-progress-value {
    background-color: red;
    border-radius: 2.5px;
}

#playerCard progress::-webkit-progress-bar {
    background-color: gray;
    border-radius: 2.5px;
}

#playerCard progress::-webkit-progress-value {
    background-color: lime;
    border-radius: 2.5px;
}

#playerHealth {
    position: relative;
    width: 100%;
}

#playerHealth::after {
    content: attr(value);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#enemyHealth {
    position: relative;
    width: 100%;
}

#enemyHealth::after {
    content: attr(value);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#counter {
    background-color: rgba(211, 211, 211, 0.8);
    border-radius: 2.5%;
    border: solid 1px rgba(0, 0, 0, 0.25);
}

#counter h6 {
    font-size: 0.9em;
}

#game {
    background-color: rgba(131, 131, 131, 0.25);
    padding: 1%;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.25);
}

img {
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.25);
}

.damaged {
    filter: hue-rotate(-60deg)
}

#upgrades {
    background-color: rgba(131, 131, 131, 0.25);
    padding: 1%;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.25);
    max-height: 450px;
    overflow-y: auto;
}

#coinCounter p {
    font-size: x-large;
    color: gold;
    margin: 0;
}

#coinCounter {
    border: 1px black solid;
    border-radius: 5px;
    background-color: darkgrey;
    height: 3em;
    width: auto;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    margin-right: 10px;
}

nav {
    position: fixed;
    top: 0;
    list-style-type: none;
    z-index: 999;
    overflow: hidden;
    transition: top 0.3s;
    width: 100%;
}

.healed {
    filter: hue-rotate(+70deg)
}

#prijava .input-field label {
    color: #616161;
}

#prijava .input-field input[type=text]:focus+label {
    color: #616161;
}

#prijava .input-field input[type=text]:focus {
    border-bottom: 1px solid #616161;
    box-shadow: 0 1px 0 0 #616161;
}

#prijava .input-field input[type=text].valid {
    border-bottom: 1px solid #616161;
    box-shadow: 0 1px 0 0 #616161;
}

#prijava .input-field input[type=text].invalid {
    border-bottom: 1px solid #616161;
    box-shadow: 0 1px 0 0 #616161;
}

#prijava .input-field .prefix.active {
    color: #616161;
}

#prijava .input-field input[type=password]:focus+label {
    color: #616161;
}

#prijava .input-field input[type=password]:focus {
    border-bottom: 1px solid #616161;
    box-shadow: 0 1px 0 0 #616161;
}

#prijava .input-field input[type=password].valid {
    border-bottom: 1px solid #616161;
    box-shadow: 0 1px 0 0 #616161;
}

#prijava .input-field input[type=password].invalid {
    border-bottom: 1px solid #616161;
    box-shadow: 0 1px 0 0 #616161;
}